#candidate-filters{
  width: 300px;
  min-height: 450px;
  border-radius: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}


#city-filter{
  width: 90%;
}